body {
    background-image: url("../images/contactback.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    /* background-color: rgba(255, 255, 255, 0.8); */
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
textarea,
select,
input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
}

textarea {
    height: 120px;
}

input[type="submit"] {
    background-color: #2755c1;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2755c1;
}

@media screen and (max-width: 480px) {
    .container {
        padding: 20px;
    }

    input[type="submit"] {
        margin-top: 10px;
    }
}
